sphinx>=8.2.3
furo>=2024.8.6
sphinx-rtd-theme>=3.0.2
myst-parser>=4.0.1
sphinxcontrib-plantuml>=0.2.0
sphinxcontrib-mermaid>=0.1.0
sphinx-autoapi>=3.0.0
sphinx-copybutton>=0.5.2
sphinx-autodoc-typehints>=3.1.0
sphinx-autobuild>=2024.10.3
sphinx-design>=0.6.1
uvicorn>=0.30.6
starlette>=0.46.1
watchfiles>=1.0.4
websockets>=15.0.1
sphinxcontrib-applehelp>=2.0.0
sphinxcontrib-devhelp>=2.0.0
sphinxcontrib-htmlhelp>=2.1.0
sphinxcontrib-qthelp>=2.0.0
sphinxcontrib-serializinghtml>=2.0.0
httpx>=0.27.0
